---
---

<div class="row">
  <div id="{{entry.key}}" class="col-sm-8">
    {% if entry.type == "thesis" %}
    {{reference}}
    {% else %}
    <div class="title font-weight-bold">{{entry.title}}</div>
    <div class="author">
      {% for author in entry.author_array %}
      {% if forloop.length == 1 %}
      {% if author.last == site.scholar.last_name %}
      <em style="text-decoration: underline;font-weight: bold;">{{author.first}} {{author.last}}</em>
      {% else %}
      {{author.first}} {{author.last}}
      {% endif %}
      {% else %}
      {% unless forloop.last %}
      {% if author.last == site.scholar.last_name %}
      <em style="text-decoration: underline;font-weight: bold;">{{author.first}} {{author.last}}</em>,
      {% else %}
      {% if site.data.coauthors[author.last] %}
      <a href="{{site.data.coauthors[author.last].url}}" target="_blank">{{author.first}} {{author.last}}</a>,
      {% else %}
      {{author.first}} {{author.last}},
      {% endif %}
      {% endif %}
      {% else %}
      {% if author.last == site.scholar.last_name %}
      and <em>{{author.first}} {{author.last}}</em>
      {% else %}
      {% if site.data.coauthors[author.last] %}
      and <a href="{{site.data.coauthors[author.last].url}}" target="_blank">{{author.first}} {{author.last}}</a>
      {% else %}
      and {{author.first}} {{author.last}}
      {% endif %}
      {% endif %}
      {% endunless %}
      {% endif %}
      {% endfor %}
    </div>

    <div class="periodical">
      {% if entry.type == "article" %}
      <em>{{entry.journal}}</em>
      {% elsif entry.type == "inproceedings" %}
      <em>In {{entry.booktitle}}</em>
      {% endif %}
      <!-- {% if entry.year %} -->
      <!-- {{entry.year}} -->
      <!-- {% endif %} -->
      
      <span class="links" style="margin-left: 10px;">
        {% if entry.paper %}
        <a href="{{ entry.paper }}" class="btn btn-sm z-depth-0" role="button" target="_blank" style="margin-right: 5px;">🐾 Paper</a>
        {% endif %}
        {% if entry.code %}
        <a href="{{ entry.code }}" class="btn btn-sm z-depth-0" role="button" target="_blank" style="margin-right: 5px;">🌟 Code</a>
        {% endif %}
        {% if entry.slides and entry.slides != 'https://example.com/slides' %}
        <a href="{{ entry.slides }}" class="btn btn-sm z-depth-0" role="button" target="_blank" style="margin-right: 5px;">🎈 Slides</a>
        {% endif %}
        {% if entry.talk and entry.talk != 'https://example.com/talk' %}
        <a href="{{ entry.talk }}" class="btn btn-sm z-depth-0" role="button" target="_blank" style="margin-right: 5px;">🎭 Talk</a>
        {% endif %}
      </span>
    </div>
    {% endif %}

    <!-- Hidden abstract block -->
    {% if entry.abstract %}
    <div class="abstract hidden">
      <p>{{ entry.abstract }}</p>
    </div>
    {% endif %}
  </div>
</div>